
.vs/Hangman/v16/Preview/Browse.VC.opendb
.vs/Hangman/v16/Preview/Browse.VC.db
.vs/Hangman/v16/.suo
.vs/Hangman/v16/Preview/ipch/AutoPCH/a8a62a99fb2bab11/MAIN.ipch
.vs/
x64/
x64_BUILDSTUFF/
cppcheck-cppcheck-build-dir/
cppcheck.cppcheck